
.welcome-card {
  background: #37B5B6;
  padding: 20px;
  border: 1px solid #37B5B6;
  border-radius: 15%;
  margin: 20px auto;
  text-align: center;
  width: 50%;
  align-items: flex-start;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  opacity: 0.9;

}

.welcome-card .image-circle {
  border-radius: 50%;
}
.middle-button {
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  width: 50%;
  text-decoration: none;
  border-radius: 25%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.social-card {
  background: #37B5B6 ;
  padding: 20px;
  border: 1px solid #37B5B6;
  margin: 20px auto;
  text-align: center;
  width: 50%;
  text-decoration: none;
  border-radius: 25%;
  opacity: 0.5;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
